<p id="notice"><%= notice %></p>

<p>
  <b>Mac address:</b>
  <%= @hub.mac_address %>
</p>

<p>
  <b>User:</b>
  <%= @hub.user_id %>
</p>


<%= link_to 'Edit', edit_hub_path(@hub) %> |
<%= link_to 'Back', hubs_path %>
