<div class="content" id="device-list-container">
  <% if @sensors.empty? then %>
      <p>No devices found</p>
  <% else %>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.first.name unless @sensors.first.nil? %></h5></div>
        <div class="portlet-content"><p>No data found</p></div>
      </div>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.second.name unless @sensors.second.nil? %></h5></div>
        <div class="portlet-content"><p>No data found<p></div>
      </div>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.third.name unless @sensors.third.nil? %></h5></div>
        <div class="portlet-content"><p>No data found<p></div>
      </div>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.fourth.name unless @sensors.fourth.nil? %></h5></div>
        <div class="portlet-content"><p>No data found<p></div>
      </div>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.fifth.name unless @sensors.fifth.nil? %></h5></div>
        <div class="portlet-content"><p>No data found<p></div>
      </div>
  <% end %>
</div>