<div class="content" id="device-list-container">
  <% if @sensors.empty? then %>
      <p>No devices found</p>
  <% else %>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.last.name unless @sensors.last.nil? %></h5></div>
        <div class="portlet-content">
          <table class = "table table-condensed">
            <thead>
            <tr>
              <th><h6>Usage</h6></th>
              <th><h6>kwh</h6></th>
              <th><h6>Cost</h6></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><p>Today</p></td>
              <td><p><%= @sensors.first.daily_kwh_usage_on(Time.now.utc.to_date).round(2) %></p></td>
              <td><p>$<%= (@sensors.first.daily_kwh_usage_on(Time.now.utc.to_date) * 0.11).round(2) %></p></td>
            </tr>
            <tr>
              <td><p>This Week</p></td>
              <td><p><%= @sensors.first.weekly_kwh_usage_until(Time.now.utc.to_date).round(2) %></p></td>
              <td><p>$<%= (@sensors.first.weekly_kwh_usage_until(Time.now.utc.to_date) * 0.11).round(2) %></p></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.second.name unless @sensors.second.nil? %></h5></div>
        <div class="portlet-content"><p>No data found

          <p></div>
      </div>
      <div class="portlet">
        <div class="portlet-header"><h5><%= @sensors.third.name unless @sensors.third.nil? %></h5></div>
        <div class="portlet-content"><p>No data found

          <p></div>
      </div>
  <% end %>
</div>