<div class="ui-widget-header ui-widget-header-text"><h5>Usage Summary</h5></div>

<div class="row-fluid">

  <div class='span12'>

    <div class="row-fluid">

      <div class="span9">
          <table id="usage-info" class="table">
             <tr>
              <td>
                <p>You are using <b>41 kWh</b> on <u>average</u> this month and
                it is costing you <b>$<%= (41 * 0.11).round(2) %></b> per day
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>You used the <u>least</u> amount of energy <b>(23 kWh)</b>
                this month on <i>Friday June 1</i> and it costed you
                <b>$<%= (23 * 0.11).round(2) %></b></p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  You used the <u>most</u> amount of energy <b>(57 kWh)</b>
                  this month on <i>Sunday June 3</i> and it costed you
                  <b>$<%= (57 * 0.11).round(2) %></b>
                </p>
              </td>
            </tr>
          </table>
        </div>

      <div class="span3">
        <div class="content well" id="usage-totals">
          <div><h6>This Month</h6></div>
          <div><h1>$<%= (41 * 10 * 0.11).round(2) %></h1></div>
          <div><h6><%= 41 * 10 %> kilowatt-hours</h6></div>
        </div>
      </div>

    </div>

  </div>

</div>