<h1>Sensor readings for <%= current_user.email %></h1>

<table>
  <tr>
    <th>Watt-hours</th>
    <th>Sensor #</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensor_readings.each do |sensor_reading| %>
  <tr>
    <td><%= sensor_reading.watthours %></td>
    <td><%= sensor_reading.sensor_local_id %></td>
    <td><%= sensor_reading.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long_ordinal) %></td>
    <%# <td><%= link_to 'Show', sensor_reading %1></td> %>
    <%# <td><%= link_to 'Edit', edit_sensor_reading_path(sensor_reading) %1></td> %>
    <%# <td><%= link_to 'Destroy', sensor_reading, confirm: 'Are you sure?', method: :delete %1></td> %>
  </tr>
<% end %>
</table>

<br />

<%# <%= link_to 'New Sensor reading', new_sensor_reading_path %1> %>
