<table class="table table-striped">
  <thead>
  <tr>
    <th>Label</th>
    <th>MAC address</th>
    <th>Enabled</th>
    <th>Circle +</th>
    <th>Scheduled off</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.label %></td>
        <td><%= sensor.mac_address %></td>
        <td><%= sensor.enabled %></td>
        <td><%= sensor.plus %></td>
        <td><%= sensor.is_scheduled_to_be_off %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>
