<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Hub</th>
    <th>Local Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.name %></td>
        <td><%= sensor.hub_id %></td>
        <td><%= sensor.local_id %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%#= button_to 'Add sensor', new_sensor_path, :class => "btn btn-primary" %>
