<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @sensor.label %>
</p>

<p>
  <b>Mac Address:</b>
  <%= @sensor.mac_address %>
</p>

<p>
  <b>Enabled:</b>
  <%= @sensor.enabled %>
</p>

<p>
  <b>Plus:</b>
  <%= @sensor.plus %>
</p>

<p>
  <b>Scheduled off:</b>
  <%= @sensor.is_scheduled_to_be_off %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
